$f1_reg: 'latoregular';
$f1_semi: 'latosemibold';


$mobile_large: 534px;
$tablet_small: 768px;
$tablet_large: 960px;

$white: #ffffff;
$black: #000000;
$black-300: #222222;

$green: #4CAF50;
$grey: #666666;
$grey-100: #D0D0D0;

$main-transition: 0.3s 0.1s linear;