$f1_reg: 'latoregular';
$f1_semi: 'latosemibold';


$mobile_large: 534px;
$tablet_small: 768px;
$tablet_large: 960px;
$mobile: 534px;

$white: #ffffff;
$black: #000000;
$black-300: #222222;

$green: #4CAF50;
$grey: #666666;
$grey-100: #d0d0d0;
$grey-200: #dedede;
$mint: #CAE7CB;
$red: #E3594E;
$yellow: #DBBA45;

$main-transition: 0.3s 0.1s linear;
$light-border: 1px solid #f3f3f3;